services:
  front:
    build:
      context: ./front
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./front:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev -- --host 0.0.0.0
    # depends_on:
    #   - back

  # back:
  #   build:
  #     context: ./back
  #     dockerfile: Dockerfile.dev
  #   ports:
  #     - "8000:8000"
  #   volumes:
  #     - ./back:/app
  #     - ./db:/app/db
  #   environment:
  #     - DATABASE_URL=sqlite:///./app.db
  #   command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
